.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
}

.menu {
  position: fixed;
  top: var(--header-height);
  left: 0;
  height: 100dvh;
  width: var(--sidebar-width);
}

.main {
  margin-top: var(--header-height);
  margin-left: var(--sidebar-width);
  padding-top: 24px;
}
